@mixin horizontal-centering {
    padding-left: 13%;
    padding-right: 13%;
}
@mixin vertical-centering {
    display: flex;
    justify-content: space-between;
    align-items: center
}
@mixin layover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@mixin vertical-padding{
    padding-top: 8%;
    padding-bottom: 8%;
}

@keyframes bg-scale {
    0% {background-color: rgba($color: $tradewind, $alpha: 1.0); transform: scale(1)};
    100% {background-color: rgba($color: $tradewind, $alpha: 0); transform: scale(1.5)};
}
@keyframes i-scale {
    100% {transform: scale(.75)}
}

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

    .layover{
        @include layover;

        background-color: $woodsmoke;
        opacity: .6;
    }

    #top-bar{   
        @include horizontal-centering;
        @include vertical-centering;
    
        position: relative;
        padding-top: 1em;
        padding-bottom: 1em;    
        font-size: 14px;
        color: #7c8ea0;
        background-image: linear-gradient( -45deg, #1b4965 0%, #0d1b2a 100%);
    
        .nav-right{
    
            ul{        
                li{       
                    margin-left: 2em;   
                }
            }
        }
        
        i{
            margin-right: 1em;
        }
    
    }

    .background-wrapper{
        display: flex;
        flex-direction: column;
        height: 100vh;

        background-image: url('images/bg-2.jpg');
        background-position: center;
        background-size: cover;
        align-self: stretch;
        
        nav{    
            @include horizontal-centering;
            @include vertical-centering;
    
            padding-top: 1em;
            position: relative;    
            font-size: 16px;
            font-weight: 500;
            color: #bec1ce;
    
            img{
                width: 130px;
            }
    
            ul{    
                display: inline-flex;
    
                li{
                    align-items: flex-end;
                    margin-right: 1.5em;
    
                    i{
                        font-size: 0.9em;
                        margin-left: .3em
                    }
                }
            }
        }
    
        .title{    
            width: 50%;
            margin: auto;
            position: relative;  
            text-align: center;
    
            h1{
                font-size: 72px;
                font-weight: 900;
            }
    
            p{
                margin: 4% 0 8%;
                padding: 0 2%;
                font-size: 20px;
                line-height: 29px;
            }
    
            .buttons{                
                @include vertical-centering;

                margin: 0 auto;
                width: 45%;
            }            
        }
    }
}

main{

    section{       
        @include horizontal-centering;
    }

    #performance,
    #team,
    #get-in-touch{
        background-color: white;
    }

    #news{
        background-color: $grayNurse;
    }

    #performance{
        @include horizontal-centering;
        @include vertical-padding;

        width: 80%;
        margin: 0 auto;
        text-align: center;
        
        p{
            margin: 4% 0;
            padding: 0 2%;
        }

        .video{
            position: relative;
            overflow: hidden;
            border-radius: .5em;
            
            img{
                display: block;
                max-width: 100%;
            }
            
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                font-size: 6em;
                color: white;
                opacity: .8;
                transition: all ease-in-out .5s;
            }

            .layover{
                @include layover;
                
                background-color: $shark;
                opacity: .5;
                transition: all ease-in-out .5s;
            }

            &:hover{

                i{
                    font-size: 7em;
                    opacity: 1;
                }

                .layover{
                    background-color: #1B4965
                }
            }
        }
    }

    #results{

        @include horizontal-centering;
        @include vertical-padding;

        position: relative;
        text-align: center;
        background-image: url('images/bg-4.jpg');

        .layover{
            @include layover;

            background-color: transparent;
            background-image: linear-gradient(90deg, #111117 0%, #0D1B2A 100%);
            opacity: 0.9;
        }

        div{            
            position: relative;

            .title{

                p{
                    margin-top: 2em;
                    margin-bottom: 4em;
                }
            }
            
            .numbers{
                @include vertical-centering;
                
                width: 80%;
                margin: 0 auto;
                
                h2{
                    color: $tradewind;
                }
            }
        }
    }

    #services{        
        @include horizontal-centering;
        @include vertical-padding;

        background-image: linear-gradient(45deg, #111117 0%, #0D1B2A 100%);
        
        p{
            width: 70%;
            color: #8F93A5;
        }

        .grid-3{            
            grid-gap: 2em;
            margin-top: 3em;

            .card{
                padding: 2em;
                background-color: #FFFFFF09;
                border-radius: 10px;
                transition: all ease-in-out .3s;

                img{
                    max-width: 40px;
                }

                .circle{                    
                    float: right;
                    background-color: transparent;

                    i{
                        font-size: 30px;
                        color: $tradewind;
                        line-height: 40px;
                    }
                }


                h3{
                    margin: 1em 0;
                }

                &:hover{
                    transform: translateY(-4%);

                    .circle{

                        // background-color: $tradewind;
                        animation-name: bg-scale;
                        animation-duration: 1s;
                        
                        i{
                            color: white;
                            animation-name: i-scale;
                            animation-duration: 1s
                        }
                    }
                }
            }
        }
    }

    #team{
        @include horizontal-centering;
        @include vertical-padding;

        text-align: center;

        .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4em;
            margin-top: 3em;

            .card{
                display: flex;
                text-align: left;
                width: fit-content;
                transition: all ease-in-out .3s;

                img{
                    max-height: 300px;
                    border-radius: 10px 0 10px 10px;
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10% 0;
                    margin-left: 2em;
                    width: fit-content;


                    p{
                        margin-top: .5em;
                    }

                    .job{
                        font-weight: 500;
                        text-decoration: underline;
                    }

                    .socials{               
                        width: fit-content;
                        margin-top: 1em;

                        .circle{                           
                            display: inline-block;
                            background-color: #00A6A626;
                            font-size: 1.2em;
                            color: $tradewind;
                            transition: all ease-in-out .3s;

                            &:hover{
                                cursor: pointer;
                                background-color: $tradewind;
                                color: white;    
                            }
                        }
                    }
                }

                &:hover{
                    transform: translateY(-3%)
                }
            }
        }
    }

    #news{
        @include vertical-padding;

        .title{

            div{

                p{
                    width: 70%;
                }
            }
        }

        .grid-3{
            grid-gap: 3em;
            margin-top: 3em;

            .card{
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                text-align: center;

                .layover{
                    @include layover;
                    
                    background-color: #1B4965;
                    opacity: .7;
                }

                img{
                    display: block;
                    width: 100%;
                }

                .caption{
                    @include layover;

                    display: flex;
                    flex-direction: column;
                    padding: 2em;
                    
                    .card-top{                        
                        justify-content: space-between;
                        padding: 0 3em;

                        color: $silverSand;
                        position: relative;
                        bottom: 100px;
                        transition: all ease-in-out .3s;
                        
                        i{
                            margin-right: .6em;
                        }
                    }

                    .card-bottom{
                        margin-top: auto;
                        position: relative;
                        top: 80px;
                        transition: all ease-in-out .3s;

                        h3{
                            font-size: 1.7em;
                        }

                        p{
                            margin-top: 1em;
                        }
                    }
                    
                    &:hover{

                        .card-top{
                            bottom: 0;
                        }

                        .card-bottom{
                            top: 0
                        }
                    }
                }
            }
        }
    }

    #know-first{
        @include vertical-padding;
        
        display: flex;
        background-image: linear-gradient(45deg, #111117 0%, #1B4965 100%);

        .title{
            width: 40%;
            margin-right: 2em;

            p{
                margin-top: 2em;
            }
        }

        .form{
            flex-grow: 1;
            margin-right: 2em;

            input{
                display: block;
                width: 100%;
                margin-bottom: 2em;
                padding: 1.5em;

                color: #BEC1CE;
                border: none;
                border-radius: 5px;
                background-color: #BEC1CE40;
                opacity: 0.8;
                transition: all ease-in-out .3s;

                &:hover{
                    opacity: 1
                }
            }
        }
    }
}

footer{
    @include horizontal-centering;
    @include vertical-padding;

    display: flex;
    color: $silverSand;
    background-image: linear-gradient(45deg, #111117 0%, #0D1B2A 100%);

    img, p,
    li, button{
        margin-top: 1.5em;
    }

    img{
        width: 130px;
    }

    .footer-left{
        width: 30%;
        margin-right: 3em;

        i{
            margin-right: 1em;
        }
    }

    .footer-right.grid-3{
        grid-gap: 2em;
        width: 100%;

        .card{
            padding: 2em;
            background-color: #FFFFFF09;
            border-radius: 10px 10px 10px 10px;
            transition: all ease-in-out .3s;
    
            ul{    
                li{       
                    display: block;
                }
            }

            &:hover{
                transform: translateY(-3%)
            }
        }

    }

    li{
        transition: all ease-in-out .3s;

        &:hover{
            cursor: pointer;
            color: $tradewind;
        }
    }

}

#bottom-nav{    
    @include horizontal-centering;

    background-image: linear-gradient(45deg, #111117 0%, #0d1b2a 100%);

    // debug
    height: 60px;
}