@mixin horizontal-centering {
    padding-left: 13%;
    padding-right: 13%;
}

@mixin vertical-centering {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@mixin layover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


header{

    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-image: url('images/bg-2.jpg');
    background-position: center;
    background-size: cover;

    .layover{

        @include layover;
        background-color: $woodsmoke;
        opacity: .5;
    }

    #top-bar{
    
        @include horizontal-centering;
        @include vertical-centering;
    
        position: relative;
        padding-top: 1em;
        padding-bottom: 1em;
    
        font-size: 14px;
        color: #7c8ea0;
        background-image: linear-gradient( -45deg, #1b4965 0%, #0d1b2a 100%);
    
        .nav-right{
    
            ul{
        
                li{
        
                    margin-left: 2em;   
                }
            }
        }
        
        i{
            margin-right: 1em;
        }
    
    }

    nav{

        @include horizontal-centering;
        @include vertical-centering;

        padding-top: 1%;
        position: relative;

        font-size: 16px;
        font-weight: 500;
        color: #bec1ce;

        img{
            width: 130px;
        }

        ul{

            display: inline-flex;

            li{
                align-items: flex-end;
                margin-right: 1.5em;

                i{
                    font-size: 0.9em;
                    margin-left: .3em
                }
            }
        }

    }

    .title{

        width: 50%;
        margin: auto;
        position: relative;

        text-align: center;

        h1{
            font-size: 72px;
            font-weight: 900;
            color: white
        }

        p{
            margin: 4% 0 8%;
            font-size: 19px;
            line-height: 29px;
        }

        .buttons{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 45%;
        }
        
    }


}

main{

    section{
        
        @include horizontal-centering;
        // debug
        // height: 200px;
    }

    #performance,
    #team,
    #get-in-touch{
        background-color: white;
    }

    #services,
    #know-first{
        background-image: linear-gradient(45deg, #111117 0%, #0D1B2A 100%);
    }

    #news{
        background-color: $grayNurse;
    }

    #performance{

        width: 80%;
        margin: 0 auto;
        padding: 8% 0;
        text-align: center;
        
        p{
            margin: 4% 0;
        }

        .video{

            position: relative;
            overflow: hidden;
            border-radius: .5em;

            img{
                display: block;
                max-width: 100%;
            }

            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                font-size: 100px;
                color: white;
                opacity: .7;
            }

            .layover{
                
                @include layover;
                background-color: $woodsmoke;
                opacity: .5;
            }
        }
    }

    #results{

        @include horizontal-centering;

        position: relative;
        text-align: center;
        padding-top: 8%;
        padding-bottom: 8%;
        background-image: url('images/bg-4.jpg');

        .layover{
            @include layover;

            background-color: transparent;
            background-image: linear-gradient(90deg, #111117 0%, #0D1B2A 100%);
            opacity: 0.9;
        }

        div{
            
            position: relative;

            .title{
                
                h2{
                    color: white;
                }
                
                p{
                    margin-top: 2em;
                    margin-bottom: 4em;
                }
            }
            
            .numbers{
                
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;
                
                h2{
                    color: $tradewind;
                }
            }
        }
    }
}

footer{

    @include horizontal-centering;

    // debug
    height: 200px;
    background-image: linear-gradient(45deg, #111117 0%, #0D1B2A 100%);

}

#bottom-nav{
    
    @include horizontal-centering;

    background-image: linear-gradient(45deg, #111117 0%, #0d1b2a 100%);

    // debug
    height: 60px;
}