// Color cube
$woodsmoke: #111117;
$blueLagoon: #048383;
$abbey: #4e4f52;
$silverSand: #bcbdbd;
$fountainBlue: #52babb;
$texasRose: #feac61;
$copper: #ad6a35;

// Median cut
$shark: #1d2528;
$grayNurse: #e7eee9;
$saltBox: #676669;
$tradewind: #60a9ad;
$smaltBlue: #568597;

// Material design
$capePalliser: #a36b4c;
$midGray: #626165;
$surfieGreen: #098081;
$capeCod: #434747;
$diSerria: #da945c;