<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexgen</title>
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        
        <!-- header -->
        <header>

            <div class="layover"></div>

            <!-- top-nav -->
            <div id="top-bar">
    
                <div class="nav-left">
                    <ul>
                        <li v-for="item in nav.left" v-html="item">{{ item }}</li>
                    </ul>
                </div>
    
                <div class="nav-right">
    
                    <ul>
                        <li v-for="item in nav.right" v-html="item">{{ item }}</li>
                    </ul>
                </div>
            </div>
            
            <nav>
                <div class="nav-left">
                    <img src="images/logo.svg" alt="">
                </div>

                <div class="nav-right">
                    <ul>
                        <li v-for="page in nav.pages" v-html="page">{{ page }}</li>
                    </ul>
                    <button>BUY NEXGEN</button>
                </div>
            </nav>

            <div class="title">
                <h1 class="text-white">Financial Risk</h1>
                <p>The right outcomes depend on continuous rigor in governance, models, and processes across the finance function.</p>
                <div class="buttons">
                    <button class="full">GET IN TOUCH</button>
                    <button class="empty">READ MORE</button>
                </div>
            </div>
        </header>

        <!-- main -->
        <main>

            <!-- advisory performance -->
            <section id="performance">
                <h4>INTRODUCTION VIDEO</h4>
                <h2>Advisory performance</h2>
                <p>Financial executives need to review their strategies, operating models and capabilities so that their areas can generate sound information for better decision making.</p>

                <div class="video">
                    <div class="layover"></div>
                    <img src="images/video-1.jpg" alt="">
                    <i class="fas fa-play"></i>
                </div>
            </section>

            <!-- Results in number -->
            <section id="results">
                <div class="layover"></div>

                <div>

                    <div class="title">
                        <h4>WHAT ARE WE DOING</h4>
                        <h2 class="text-white">Results in numbers</h2>
                        <p>Our goal is to exceed expectations by delivering the best job possible.</p>
                    </div>
                    
                    <div class="numbers">
                        <div>
                            <h2>128</h2>
                            <p>Certifications</p>
                        </div> 
                        <div>
                            <h2>230</h2>
                            <p>Employess</p>
                        </div> 
                        <div>
                            <h2>517</h2>
                            <p>Customers</p>
                        </div> 
                        <div>
                            <h2>94</h2>
                            <p>Counries served</p>
                        </div>                 
                    </div>

                </div>
            </section>

            <!-- Excellence in services -->
            <section id="services">

                <div class="title">
                    <h4>OUR BUSINESS AREAS</h4>
                    <h2 class="text-white">Excellence in Services</h2>

                    <div>
                        <p>We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of experienced and renowned professionals. These are some options that you can hire.</p>
                        <button class="empty">SEE ALL</button>
                    </div>
                </div>

                <div class="grid">
                    <div class="card">
                        <img src="images/assurance.svg" alt="">
                        <i class="fas fa-arrow-right"></i>
                        <h3 class="text-white">Audit &amp; Assurance</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                    <div class="card">
                        <img src="images/financial.svg" alt="">
                        <i class="fas fa-arrow-right"></i>
                        <h3 class="text-white">Financial Advisory</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                    <div class="card">
                        <img src="images/analytics.svg" alt="">
                        <i class="fas fa-arrow-right"></i>
                        <h3 class="text-white">Analytics and M&amp;A</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                    <div class="card">
                        <img src="images/marketing.svg" alt="">
                        <i class="fas fa-arrow-right"></i>
                        <h3 class="text-white">Middle Marketing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                    <div class="card">
                        <img src="images/consulting.svg" alt="">
                        <i class="fas fa-arrow-right"></i>
                        <h3 class="text-white">Legal Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                    <div class="card">
                        <img src="images/risk.svg" alt="">
                        <i class="fas fa-arrow-right"></i>
                        <h3 class="text-white">Regulatory Risk</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                </div>

            </section>

            <!-- Team of experts -->
            <section id="team">
                <div class="title">
                    <h4>WE LIKE WHAT WE DO</h4>
                    <h2>Team of Experts</h2>
                </div>

                <div class="grid">
                    <div class="card">
                        <img src="images/team-1.jpg" alt="">
                        
                        <div class="info">
                            <h3>David Cooper</h3>
                            <p class="job">CTO &amp; CO-FUNDER</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>

                            <div class="socials">
                                <div class="circle">
                                    <i class="fab fa-facebook-f"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-twitter"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>                               
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <img src="images/team-3.jpg" alt="">
                        
                        <div class="info">
                            <h3>Oliver Jones</h3>
                            <p class="job">CHIEF PROCUREMENT</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>

                            <div class="socials">
                                <div class="circle">
                                    <i class="fab fa-facebook-f"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-twitter"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>                               
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <img src="images/team-2.jpg" alt="">
                        
                        <div class="info">
                            <h3>Emma Lopez</h3>
                            <p class="job">CHIEF MARKETING</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>

                            <div class="socials">
                                <div class="circle">
                                    <i class="fab fa-facebook-f"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-twitter"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>                               
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <img src="images/team-4.jpg" alt="">
                        
                        <div class="info">
                            <h3>T. Johnson</h3>
                            <p class="job">CEO & PRESIDENT</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>

                            <div class="socials">
                                <div class="circle">
                                    <i class="fab fa-facebook-f"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-twitter"></i>
                                </div>

                                <div class="circle">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Lates news -->
            <section id="news">

                <div class="title">
                    <h4>OUR EDITORIAL CONTENT</h4>
                    <h2>Latest News</h2>
    
                    <div>
                        <p>Every week we publish content about what is best in the business world.</p>
    
                        <button class="full">SEE ALL</button>
                    </div>
                </div>

                <div class="grid">
                    <div class="card">
                        <div class="layover"></div>
                        <img src="images/news-1.jpg" alt="">

                        <div class="caption">
                            <div class="card-top">
                                <span>
                                    <i class="far fa-user"></i> Codings
                                </span>

                                <span>
                                    <i class="far fa-clock"></i> 3 weeks
                                </span>
                            </div>

                            <div class="card-bottom">
                                <h3 class="text-white">Increasing creativity is possible for everyone</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="layover"></div>
                        <img src="images/news-2.jpg" alt="">

                        <div class="caption">
                            <div class="card-top">
                                <span>
                                    <i class="far fa-user"></i> Codings
                                </span>

                                <span>
                                    <i class="far fa-clock"></i> 2 months
                                </span>
                            </div>

                            <div class="card-bottom">
                                <h3 class="text-white">David Cooper tells about the opening of the new office in Baltimore</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="layover"></div>
                        <img src="images/news-3.jpg" alt="">

                        <div class="caption">
                            <div class="card-top">
                                <span>
                                    <i class="far fa-user"></i> Codings
                                </span>

                                <span>
                                    <i class="far fa-clock"></i> 2 months
                                </span>
                            </div>

                            <div class="card-bottom">
                                <h3 class="text-white">Tips for having a good relationship at work</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                        
                </div>

            </section>

            <!-- Know first -->
            <section id="know-first">
                <div class="title">
                    <h4>NEWSLETTER</h4>
                    <h2 class="text-white">Know first</h2>

                    <p>Follow closely and receive news of the current market. By submitting the form you agree to the terms of use.</p>
                </div>

                <div class="form">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <button class="full">SUBSCRIBE</button>
                </div>
            </section>

            <!-- Get in toch -->
            <section id="get-in-touch">

            </section>
        </main>

        <!-- footer -->
        <footer>
            <div class="footer-left">
                <img src="images/logo.svg" alt="">
                <p>Built to the smallest detail with a focus on feature availability.</p>

                <ul>
                    <li>
                        <i class="fas fa-phone-alt"></i> +1 (305) 1234-5678
                    </li>
                    
                    <li>
                        <i class="fas fa-envelope"></i> hello@example.com
                    </li>

                    <li>
                        <i class="fas fa-map-marker-alt"></i> Main Avenue, 987
                    </li>
                </ul>

                <button class="empty">BUY NEXGEN</button>
            </div>

            <div class="footer-right">
                <div class="card" v-for="card in footer">

                    <h3 class="text-white">{{ card.title }}</h3>
                    <ul>
                        <li v-for="item in card.text" v-html="item"><a href="">{{ item }}</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <div id="bottom-nav">

        </div>
    </div>
</body>
</html>

<!-- 
    - trovare alternativa a Gilroy;
    - font-family: 'Inter', sans-serif;
    - font-family: 'Montserrat', sans-serif;
    - margini e padding in em;
 -->