@import 'partials/variables';
@import 'partials/homepage';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Montserrat:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;

    body{

        font-family: 'Inter', sans-serif;
        font-weight: 400;

        ul{
    
            li{
    
                display: inline-flex;
                list-style: none;
            }
        }

        h2{
            font-size: 48px;
            font-weight: 800;
            color: $shark; 
        }

        h3{
            font-size: 30px;
            font-weight: 700;
        }

        h4{
            margin-bottom: 2em;
            font-family: 'Montserrat', sans-serif;
            font-style: 14px;
            font-weight: 600;
            color: $tradewind;
        }
        
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #bec1ce;
            
        }

        button{
            padding: .7em 1.7em;

            border: none;
            border-radius: 100px;
            background: rgba(100, 100, 100, .5);
            
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: $silverSand;

            &:hover{
                cursor: pointer;
            }
        }

        button.full{
            color: white;
            background-color: $blueLagoon;

            &:hover{
                background-color: $fountainBlue;
            }
        }

        button.empty{
            color: white;
            background-color: transparent;
            border: 2px solid $blueLagoon;

            &:hover{
                border: 2px solid $fountainBlue;

            }
        }

        .text-white{
            color: white;
        }

        .text-gray{
            color: $silverSand;
        }

    }

}
